{% extends 'common/_main.html' %}
{% load static %}

{% block content %}

<main class="flex-1 grid place-items-center bg-gray-50-700 text-sky-900">

    <section class="w-11/12 max-w-[1200px] mx-auto py-6">
        
        <h2 class="text-5xl max-md:text-3xl font-black text-center italic"><span class="underline text-yellow-500 decoration-yellow-500">Log in</span> to your account</h2>

        <div class="max-w-[600px] mx-auto bg-gray-50/60 shadow-lg rounded-lg p-8 mt-6">
            <form method="POST">
                {% csrf_token %}
                <div class="flex flex-col gap-4">
                    <div class="group w-full">
                        <label for="username-input" class="block font-bold w-full pb-2 text-md transition-all duration-200 ease-in-out {% if form.non_field_errors %}!text-red-600/80 !group-focus-within:text-red-600/80{% else %} group-focus-within:text-yellow-500 {% endif %}">Username</label>
                        <input required type="username" name="username" id="username-input" placeholder="Username" class="bg-gray-50 border-sky-900/20 border-2 h-12 w-full placeholder-sky-900/80 group-focus-within:border-yellow-500 rounded-md px-3 outline-none transition-all duration-200 ease-in-out bg-gray-50-700 focus:ring-0 {% if form.non_field_errors %}!placeholder-red-600/80 !border-red-600/80 !group-focus-within:border-red-500{% endif %}" />
                    </div>

                    <div class="group w-full">
                        <label for="password-input" class="block font-bold w-full pb-2 text-md transition-all duration-200 ease-in-out {% if form.non_field_errors %}!text-red-600/80 !group-focus-within:text-red-600/80{% else %} group-focus-within:text-yellow-500 {% endif %}">Password</label>
                        <input required type="password" name="password" id="password-input" placeholder="Password" class="bg-gray-50 border-sky-900/20 border-2 h-12 w-full placeholder-sky-900/80 group-focus-within:border-yellow-500 rounded-md px-3 outline-none transition-all duration-200 ease-in-out bg-gray-50-700 focus:ring-0 {% if form.non_field_errors %}!placeholder-red-600/80 !border-red-600/80 !group-focus-within:border-red-500{% endif %}" />
                    </div>

                    <div class="flex flex-col items-end gap-4">
                        <a class="underline text-sky-900/80 hover:text-sky-900" href="">Forgot your password?</a>
                        <a class="underline text-sky-900/80 hover:text-sky-900" href="{% url 'accounts:registration' %}">Haven't got an account?</a>
                    </div>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="text-red-600">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <button type="submit" class="px-4 h-10 bg-yellow-500 hover:bg-yellow-600 transition-colors text-gray-50 rounded-md">Login</button>
                </div>
            </form>
        </div>    
    </section>

</main>
    
{% endblock %}