<header class="sticky z-50 top-0 p-8 text-center bg-sky-950 text-gray-50">
    <div class="w-11/12 max-w-[1200px] mx-auto flex justify-between items-center gap-6">
        <h1 class="text-2xl font-black italic tracking-tight">
            <a href="{% url 'common:index' %}">Django Scheduler</a>
        </h1>
        <div class="flex gap-4 items-center">
            <a href="{% url 'appointments:appointment-form' %}" class="group transition duration-300 hover:text-yellow-500">
                <span>Book an appointment</span>
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-yellow-500"></span>
            </a>
            <a href="{% url 'diary:diary' %}" class="group transition duration-300 hover:text-yellow-500">
                <span>Diary</span>
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-yellow-500"></span>
            </a>
            <div>
                {% include 'common/base/session_manager.html' %} 
            </div>
        </div>
    </div>
</header>