{% if user.is_authenticated %}
<div class="group relative cursor-pointer">
    <div class="flex items-center justify-between space-x-5">
        <img class="rounded-full aspect-1 h-10" src="{{ user.profile_picture_url }}" alt="User's profile picture">
    </div>

    <div class="hidden absolute top-8 right-0 z-50 rounded-md w-max group-hover:flex flex-col min-w-36">
        <div class="h-4 bg-transparent w-full"></div>
        <div class="shadow-md bg-white rounded-md flex flex-col items-end overflow-hidden">
            <a class="text-sky-900 font-bold px-3 py-2 w-full hover:bg-gray-50 transition-colors" href="">Account</a>
            <a class="text-sky-900 font-bold px-3 py-2 w-full hover:bg-gray-50 transition-colors" href="">Settings</a>
            <form action="{% url 'accounts:logout' %}" method="POST" class="text-sky-900 font-bold px-3 py-2 w-full hover:bg-gray-50 transition-colors">
                {% csrf_token %}
                <button class="text-red-400" type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
{% else %}
    <a href="{% url 'accounts:login' %}" class="group transition duration-300 hover:text-yellow-500">
        <span>Login</span>
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-yellow-500"></span>
    </a>
{% endif %}